*{
    background-color:#0a192f;
    font-family: 'Space Mono', monospace;
    color: #8892b0;
    margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   .navbaritems{
       width: 100%;
       display: flex;
       justify-content:space-between;
       align-items:center;
       padding: 20px 60px;
   }
   .navmenu{
       display: flex;
       align-items:center;
       justify-content:space-between ;
    }
   .li{
       list-style-type: decimal-leading-zero;
       margin: 0 50px;
       color:#5dedcd    ;
   }
   a{
       text-decoration: none;
       font-size: 1rem ;
   }
   .name{
       color: #5dedcd;
       padding-bottom: 20px;
   }
   .title1{
       color:#ccd6f6;
       font-weight: bold;
       font-size: 4.6vw;
       font-family: 'Inter', sans-serif;}
   .title2{
       font-weight: bold;
       font-size: 4.6vw;
       font-family: 'Inter', sans-serif;
   }
   .desc{
       font-family: 'Inter', sans-serif;
       font-size: 1.1vw;
       padding-top: 20px;
       line-height: 24pt;
   }
   .hero{
      
       padding: 100px 270px;
   }
   span{
       color: #5dedcd;
   }
   .email{
       position: fixed;
       transform: rotate(90deg);
       right: 0;
       bottom: 200px;    
   }
   .email::after{
       content: "";
       width: 100px;
       height: 2px;   
       background:#8892b0;
       top: 10px;
       position: absolute;
       left: 250px;
   
   }
   .email-link{
       color: #5dedcd;
       background-color: transparent;
       border: 1px solid #5dedcd;
       border-radius:  4px;
       padding: 1.25rem 1.75rem;
       font-size: 14px;
       font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;;
       line-height: 1;
       text-decoration: none;
       transition:all 0.25s cubic-bezier(0.645,0.045,0.355,1);
   }
   
   .bouton{
       margin: 50px 0px;
   }
   .email-link:hover{
       box-shadow: 5px 5px #5dedcd;
   }
   .rectangle p span{
    background-color: #112240;
   }
   .resume-button{
       color: #5dedcd;
       background-color: transparent;
       border: 1px solid #5dedcd;
       border-radius:  4px;
       padding: 0.9rem 1.75rem;
       font-size: 15px;
       line-height: 1;
       text-decoration: none;
       list-style: none;
   }
   .resume-button:hover{
       box-shadow: 5px 5px #5dedcd;
   }
   .about{
       color: #5dedcd;
   }
   
   .email2{
       position: fixed;
       transform: rotate(-90deg);
       left: 0;
       bottom: 200px;    
   }
   .email2::after{
       content: "";
       width: 100px;
       height: 2px;   
       background:#8892b0;
       top: 10px;
       position: absolute;
       right: 250px;
   
   }
   
   .about_section{
       display: flex;
       justify-content: space-between;
       width: 60%;
       margin-top: 80px;
       margin-left: 300px;
       text-justify: inter-word;
   
   }
   .aboutme::after{
       content: "";
       width: 350px;
       height: 1px;   
       background:#8892b0;
       position: absolute;
       margin-top:20px;
       margin-left: 30px;
   }
   .aboutme{
       margin-bottom: 30px;
       margin-left: 300px;
       margin-top: 100px;
       color:#ccd6f6;
   }
   .liste{
       display: flex;
       justify-content: space-between;
       width: 50%;
       margin-top: 20px;
   }
   .text{
       width: 65%;
   }
   .text2{
       font-family: 'Inter', sans-serif;
       font-size: 1rem;
       line-height: 20pt;
   }
   .ull {
       margin: 0.75em 0;
       padding: 0 1em;
       list-style: none;
     }
   .lii::before { 
       content: "";
       border-color: transparent #5dedcd;
       border-style: solid;
       border-width: 0.17em 0 0.17em 0.27em;
       display: block;
       height: 0;
       width: 0;
       left: -1em;
       top: 0.9em;
       position: relative;
       
     }
   
   .image{
       border-radius: 7px;
       position: relative;
       right: 20px;
       bottom: 20px;
   }
   .image_section{
       border: 2px solid #5dedcd ;
       box-sizing: content-box;
       height: 250px;
       width: 250px;
       padding-right: 30px;
       padding-bottom: 30px;
       border-radius: 7px;
   }
   .kolech{
       margin-left: 60px;
       margin-top: 20px;
   }
   .section2{
       margin-bottom: 200px;
   }
   .section3{
       display: flex;
       justify-content: space-between;
       width: 60%;
       margin-top: 80px;
       margin-left: 300px;
       text-justify: inter-word;
       margin-bottom: 130px;
   }
   .text_desc{
       display: block;
   }
   .titres{
   text-align:center;
   padding:1em 0;
   position: absolute;
   right: 200px;
   margin-top: 80px;
   }
   .titres p{
       color: #5dedcd;
       font-size: 0.9rem;
       margin-left: 80px;
   }
   .titres h2{
       color: #ccd6f6;
   }
   .rectangle{
       border:2px solid #112240    ;
       text-align:center;
       padding:1em 0;
       background-color: #112240 ;
       position: absolute;
       width: 500px;
       right: 200px;
       margin-top: 150px;
   
   }
   .rectangle p{
       background-color: #112240    ;
       font-family: 'Inter', sans-serif;
       text-justify: inherit;
   }


   .aboutme::after{
    content: "";
    width: 350px;
    height: 1px;   
    background:#8892b0;
    position: absolute;
    margin-top:20px;
    margin-left: 30px;
}
.aboutme{
    margin-bottom: 30px;
    margin-left: 300px;
    margin-top: 100px;
    color:#ccd6f6;
}
.timelinee{
    color:#ccd6f6;
    margin-left: 500px;
    margin-bottom: 100px;

}
.section3{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 80px;
    margin-left: 300px;
    text-justify: inter-word;
    margin-bottom: 120px;
}
.text_desc{
    display: block;
}
.titres{
text-align:center;
padding:1em 0;
position: absolute;
right: 200px;
margin-top: 40px;
}
.titres p{
    color: #5dedcd;
    font-size: 0.9rem;
    margin-left: 80px;
}
.titres h2{
    color: #ccd6f6;
}
.rectangle{
    border:2px solid #112240    ;
    text-align:center;
    padding:1em 0;
    background-color: #112240 ;
    position: absolute;
    width: 500px;
    right: 200px;
    margin-top: 120px;
    border-radius: 5px;

}
.rectangle p{
    background-color: #112240    ;
    font-family: 'Inter', sans-serif;
    text-justify: inherit;
}

span{
    color: #5dedcd;
    background-color: #0a192f;
}
.section3 img{
    border-radius: 5px;
}

.section33{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 80px;
    margin-left: 400px;
    text-justify: inter-word;
    margin-bottom: 120px;
}

.rectangle2{
    border:2px solid #112240    ;
    text-align:center;
    padding:1em 0;
    background-color: #112240 ;
    position: absolute;
    width: 500px;
    left: 300px;
    margin-top: 90px;
    border-radius: 5px;

}

.titres2{
    text-align:center;
    padding:1em 0;
    position: absolute;
    left: 300px;
    margin-top: 10px;
    }
    .titres2 p{
        color: #5dedcd;
        font-size: 0.9rem;
        margin-right: 100px;
   
    }
    .titres2 h2{
        color: #ccd6f6;
    }

    .rectangle2 p{
        background-color: #112240    ;
        font-family: 'Inter', sans-serif;
        text-justify: inherit;
    }
    .section33 img{
        border-radius: 5px;
    }

.feather {
    color: #5dedcd;
    width: 40px;
    height: 40px;
    background-color: #112240;
}
.grid-container{
    display: inline-grid;
     grid-template-columns: auto auto auto;
}

.projects{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-right: 100px;
    margin-left: 150px;
}
.grid-item{
  background-color: #112240;
  border: 1px solid #112240;
  font-size: 30px;
  border-radius: 5px;
  height: 300px; 
  width: 330px;  
  margin: 10px 10px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease; /* back to normal */
}
.feather {
    color: #5dedcd;
    width: 30px;
    height: 30px;
    background-color: #112240;
}
.toping{
    background-color: #112240;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
.textt{
    position: absolute;
    color: aliceblue;
    padding:1em 0;
    background-color: #112240;
    margin-left: 20px;
    text-align: start; 
    inline-size: 300px;
    overflow-wrap: break-word; 
    
}
.textt h3{
    background-color: #112240;
    color: #ccd6f6;
    font-size: 1.2rem;
    line-height: 1.1;
    font-family: 'Inter', sans-serif;

}
.textt h3:hover{
    color: #5dedcd;
}
.textt p{
    background-color: #112240;
    font-size: 0.9rem;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}
.projects h2{
    color: #ccd6f6;
    margin-bottom: 50px;
}
.tools ul{
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    background-color: #112240;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-top: 150px;
    margin-left: 15px;
}
.tools ul li{
    padding: 5px 7px;
    background-color: #112240;

}
.grid-item:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
}

.next{
    margin-top: 250px;
   
    align-items: center;
    text-align: center;
}
.next p{
    font-size: 1rem;

}
.next h1{
    font-size: 3rem;
    color: #ccd6f6;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
}
.op{
    font-family: 'Inter', sans-serif;
    line-height: 24pt;

}
.Yas{ 
    text-align: center;
    margin-bottom: 20px;
}
.Yas p{
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    margin-left: 45px;
    
}




 
  
  .ul {
    padding: 50px 0;
  }
  
  .ul .li {
    position:relative;
    list-style-type: none;
    width: 4px;
    background-color:#ccd6f6;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .ul .li::after {
    background:#ccd6f6; 
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
    }
  
  
  .ul .li div{
    position: relative;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    background: rgba(42,50,113, .28);
  }
  
  .ul .li:nth-child(odd) div {
    left: 45px;
  }
  
  .ul .li:nth-child(even) div {
    left: -445px;
  }
  
  time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    background-color: #112240;
    text-align: center;
    color: #ccd6f6;
  }
  
  .ul .li div p {
background-color: #112240;
  }
  .ul .li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .ul .li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .ul .li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .ul .li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  input{
    height: 40px;
    border:1px solid #5dedcd;
    background-color:#0a192f;
    padding: 0px 10px;
    margin-top: 30px;
    color: #5dedcd;
    border-radius: 5px;
    text-align: center;
  }
  form{
    color: #5dedcd;
  }
  input::placeholder{
color: #5dedcd;
  }
  @media screen and (max-width: 900px) {
    .ul .li div {
      width: 250px;
    }
    .ul .li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }




  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media screen and (max-width: 768px) {
    .email, .email2 {
        display: none; /* Cacher l'élément lorsque la fenêtre est réduite */
    }
    .hero{
        padding: 100px 100px;
    }
    .navbaritems img{
        display: none;
    }
    .about_section{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 80px;
        margin-left: 100px;
        text-justify: inter-word;
    
    }
    .aboutme{
        margin-bottom: 30px;
        margin-left: 100px;
        margin-top: 70px;
        color:#ccd6f6;
    }
    .aboutme::after{
        content: "";
        width: 250px;
        height: 1px;   
        background:#8892b0;
        position: absolute;
        margin-top:20px;
        margin-left: 30px;
    }

    .text{
        width: 100%;
    }
    .text2{
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        line-height: 20pt;
    }
    .liste ul{
        display: flex;
        justify-content: flex-start;
        padding: 0px 5px;
        
    }
    .liste{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .liste ul li{
        margin-left: 30px;
    }
    .kolech{
        margin-top: 50px;
    }
    .timelinee{
        margin-bottom: 30px;
        margin-left: 100px;
        margin-top: 70px;
        color:#ccd6f6;
    }
    .section3{
        display: flex;
        flex-direction: column;
        margin-left: 100px ;
    }
    .titres{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .rectangle{
        margin-bottom: 50px;
        position: relative;
        margin-left: 250px;
    }
    .section33{
        display: flex;
        flex-direction: column;
        margin-left: 100px ;
        margin-bottom: 50px;
    }
    .titres2{
        position: relative;
        margin-bottom: 270px;
        display: flex;
       flex-direction: column;
      
       margin-right: 200px;
       width: 500px;
    }
    .text_desc2{
        text-align: center;
        width: 600px;
        display: flex;
        
    }
    .rectangle2{
        position: relative;
    }
}